.modalBox2 {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    position: fixed;
    right: 39%;
    top: 50%;
    width: 9.5vw;
    height: 15vh;
    /*padding: 1rem;*/
    border-radius: 1rem;
    background: rgba(147, 51, 234, 0.06);
    backdrop-filter:blur(100px);
  }
  
  .allAll {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 2px;
    gap: 23px;
    color: rgba(147, 51, 234, 1);
    width: 98%;
    height: 1000%;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
 
  }
  
  .all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 23px;
    width: 185px;
    height: 40px;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
   
  
  }

  .allDone {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 2px;
    gap: 23px;
    width: 98%;
    height: 1000%;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
    color: rgba(147, 51, 234, 1);
  
  }
  .allUndone {
    display: flex;
    /*flex-direction: column;*/
    align-items: flex-start;
    padding: 2px;
    gap: 23px;
    width: 98%;
    height: 1000%;
    /*top: 337px;
    left: 607px;*/
    border-radius: 10px;
    color: rgba(147, 51, 234, 1);
  
  }
  
  
  .allAll:focus {
    
    background: rgba(147, 51, 234, 0.06);
  }
  
  .allDone:focus {
    background: rgba(147, 51, 234, 0.06);
  }
  
  .allUndone:focus {
    background: rgba(147, 51, 234, 0.06);
  }

  .modalOverlay {
    
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }