.task {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 2%;
    gap: 2%;
    width: 23vw;
    height: 4vh;
    border-radius: 10px;
    background: rgba(147, 51, 234, 0.06);
    
}

.task1 {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    text-align: left;
    padding: 2%;
    gap: 20%;
    width: 110%;
    height: 1%;

}

.task2 {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    text-align: right;
    width: 30%;
    height: 1%;
    gap: 15%;
    
}

/*
.task {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 23px;

    width: 23vw;
    height: 4vh;

    border-radius: 10px;
    background: rgba(147, 51, 234, 0.06);
    
}

.task1 {
    width: 428px;
    height: 33px;   
}*/