.pagination {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    position:absolute;
    right: 41%;
    top: 3%;
    
}

.revers {
    transform: scale(-1,1);
}

.count{
    border-radius: 100%;
    background: rgb(83, 149, 202);
    width: 25px;
    text-align: center;
}